/*NAV BAR*/

#navbar {
  overflow: hidden;
  background-color: #5F7CA0;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #7F96B3;
  color: white;
}

.content {
  padding: 16px;
	top: 150px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*END NAV BAR*/

/* ------------------------------------------------------------- */

a{
	color: white;
}

#indexMain{
	 background-color: #5F7CA0;
	 color: white;
	 opacity: 0.9;
	 width: 90%;
	 margin: 0 auto;
	 overflow:hidden;

}

/*JOB LIST CSS*/
#joblist {
	margin:0 auto;
	width: 700px;
	background-color:#5F7CA0;
	opacity: 0.90;
	height: 200px;

	
}

#joblist a{
	 padding: 14px 16px;
	 font-size: 20px;
	 line-height: 2.0;
	 font-weight: bold;
	
}

.leftjobs {
	list-style-type:none;
	float:left;

	
}


.rightjobs {
	list-style-type:none;
	float:right;

	
}

#body {
	margin:0 auto;
	padding: 10px;
	width: 60%;
	
}

/*END JOB LIST*/

/* ------------------------------------------------------------- */

/*CONTACT PAGE CSS */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #7F96B3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: gray;
}

.container {
  border-radius: 5px;
  background-color: #5F7CA0;
  padding: 20px;
}

form{
	color: white;
}

.button {
  background-color: #5F7CA0;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;

}
#formmessage{
	  background-color: #7F96B3;
	  width: 45%;
	  padding: 1px;
	margin:  0 auto;
	  }
/*END CONTACT PAGE CSS*/
/*---------------------------------------------------------*/
/*JOB CATEGORY LAYOUT*/

.column {
    float: left;
  padding: 10px;
  box-sizing: border-box;
   margin: 0;
    background-color: #7F96B3;
	color:white;
   
   
}

.spacedlist{
	 line-height: 1.2;
	 list-style-type:square;
}
li{
	list-style-type:none;
}

.column.side {
	
  width: 25%;
  line-height: 1.4;
}

.column.middle {
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
	
  }
}